html
{
    scroll-behavior: smooth;
    
}


body {
    margin: 0;
    padding: 0;
    
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid white; */
    padding:.5rem 0;
    color: black;
    
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding-left:1rem;
    font-size:30px;
    font-weight: bolder;
    padding-bottom:1rem;
    
}
/* .navbar img
{
    width: 60px;
    height: 60px;
    margin-left:10px;
    margin-right:0px
} */

.navbar-links {
    height: 100%;
    width:50%;
   
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;

    
    
}
.navbar-links ul li{
    position: relative;
}

.navbar-links li {
    list-style: none;
    width:50%;
    text-align: center;
    /* background-color: orange; */
    transition: all .5s ;
    /* margin: 0 6px; */
    margin:0 5px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #ee6c4d;
    padding: .2em;
    font-size:18px;
    font-weight:bolder;
    
}

.navbar-links li:hover {
    background-color: black;
    transform: translateY(3px);
    /* color:white; */
}
.navbar-links li a:hover {
    color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.navbar-links ul li ul{
    display:none;
    position:absolute;
    width: 100%;
    font-size: .5em;
    background-color: white;
    /* padding: 10px; */

}
.navbar-links ul li:hover ul{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
   

}

/* .navbar-links ul li ul {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
} */
.navbar-links ul li ul li {
   width: 100%;
   /* border-radius: 0px 0px 5px 5px; */

   
}

.navbar-links ul li ul li a:hover{
    color:white;
    background-color: transparent;
    background-color:#ee6c4d;

 }
 #dropdown {
    margin-top: 5px;
 }

/* 
#dropservice
{
    background-color:transparent;
    color: white;
    font-size:10px;
    cursor:pointer;

}
.dropdown a{
    margin:5px 0;
}
#dropservice:hover{
    background-color:black;
    color: white;
}
.dropdown
{
    display:none;
    position:absolute;
    background-color: transparent;
    width: 100%;
    color: white;
    z-index: 1;
}

.dropdown a:hover{
    background-color:transparent;
    background-color: #ee6c4d;
    color: white;
   
    width: 100%; 
}

#dropservice:hover .dropdown
{
    color: white;
    display:block;
}

#dropservice :hover .dropdown:hover #dropservice{
    color:white;
} */


.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;

}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        margin:2px 0;
        width: 100%;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        justify-content:left;
        align-items:left;
        padding:10px;
       
        width:25%;
        display: none;
    }
    .navbar-links ul li ul{
        display:none;
        position:absolute;
        width: 100%;
        background-color:white;
        /* padding: 10px; */
    
    }
    .navbar-links ul li:hover ul{
    
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       
    
    }
    
    
}
